#root {
	width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: left;
}

.note-edited {
	color: #FFFF00;
	margin: 1;
}

.note-non-edited {
	color: #00FF00;
}

.notes-layout {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.note-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.note-item-buttons {
	display: flex;
	align-items: left;
	gap: 10px;
}
